.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 14px;
  background-color: black;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    border: 1px solid transparent;

    &:hover {
      background-color: #357ae8;
    }
  }
}
